<!DOCTYPE html>
{% load static %}
<head>
    <title>GUATEMALA RESEARCH PROJECT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>

<html>
    <body>
        <div id="bg"> 
            <div id="bg-stripes">
                <div id="str1"></div>
                <div id="str2"></div>
            </div>
        <div>
        <div id="title" class="drop-shadow">
            <p id="title-text">GUATEMALA RESEARCH PROJECT</p>
            <div id="title-border"></div>
        </div>
        <div id="content">
            <div class="content-line drop-shadow" id="line1">
                <div class="content-sphere" style="--id: 0; ">
                    <p class="content-text">TO-DO</p>
                    <div class="content-image" style="background-image: url({% static 'images/content/child.jpg' %});"></div>
                </div>
                <div class="content-sphere" style="--id: 2; ">
                    <div class="content-text">TO-DO-FIX</div>
                    <div class="content-image" style="background-image: url({% static 'images/content/lake.jpg' %});"></div>
                </div>
                <div class="content-sphere" style="--id: 4; ">
                    <p class="content-text">TO-DO</p>
                    <div class="content-image" style="background-image: url({% static 'images/content/man.jpg' %});"></div>
                </div>
            </div>
            <div class="content-line drop-shadow" id="line2">
                <div class="content-sphere" style="--id: 1; ">
                    <p class="content-text">TO-DO</p>
                    <div class="content-image" style="background-image: url({% static 'images/content/market.jpg' %});"></div>
                </div>
                <div class="content-sphere" style="--id: 3; ">
                    <p class="content-text">TO-DO</p>
                    <div class="content-image" style="background-image: url({% static 'images/content/temple.jpg' %});"></div>
                </div>
            </div>
        </div>
    </body>
</html>