#bg {
    position: absolute; 
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(-30deg, #ebebeb, #bebebe);
}

#title {
    position: fixed; 
    width: 100vw; 
    height: 10vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(-30deg, #252525, #222222);
    animation: title-intro 1s cubic-bezier(.64,-0.01,.15,.99) 0.7s forwards;
    z-index: 10;
}

#title-text {
    color: #f9f8c8;
    position: absolute; 
    width: 100%;
    height: 90%;
    left: 0px;
    top: 0px;
    z-index: 11;
    align-content: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 3vmin;
}

#title-border {
    color: #f9f8c8;
    position: absolute; 
    width: 10%;
    height: 85%;
    left: 50%;
    top: 0px;
    z-index: 11;
    border-bottom: solid 0.05vh #f9f8c8;
    transform: translateX(-50%);
    animation: title-border-intro 2s cubic-bezier(.64,-0.01,.15,.99) 0.2s forwards;
}

#content {
    position: fixed; 
    width: 100vw;
    height: 93vh;
    left: 0px;
    top: 7vh;
}

#line1 {
    top: 15vh;
    width: 85vw;
}

#line2 {
    top: 55vh;
    width: 50vw;
    
}

.content-line {
    position: fixed;
    /* width: 100vw; */
    height: 40vh;
    left: 50vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
}

.content-sphere {
    width: 20vw;
    aspect-ratio: 1;
    background-color: #cacaca;
    border-radius: 50%;
    transform: translateY(4vh);
    animation: content-intro 1s cubic-bezier(.72,.06,.32,.99) forwards; 
    animation-delay: calc((var(--id) * 0.1s) + 1.2s);
    transition: all 0.2s ease;
}

.content-sphere:hover {
    scale: 1.1;
}

.drop-shadow {
    filter: drop-shadow(0.5px 1px 7px #61616177);
}

@keyframes title-intro {
    to {
        height: 7vh;
    }
}

@keyframes title-border-intro {
    to {
        width: 30%;
    }
}

@keyframes content-intro {
    to {
        transform: translateY(0px);
        animation-fill-mode: none;

    }
}